<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhihu.dao.AnswerMapper" >

	<select id="selectAnswerByQuestionId" parameterType="com.zhihu.pojo.Question" resultType="com.zhihu.pojo.Answer">
		select id, author_id as authorId, content, answer_time as answerTime, question_id as questionId
		FROM answer
		where question_id = #{id} ORDER BY RAND() LIMIT 1
	</select>
	
	<select id="selectAnswerListByQuestionId" parameterType="com.zhihu.pojo.Question" resultType="com.zhihu.pojo.Answer">
		select id, author_id as authorId, content, answer_time as answerTime, question_id as questionId
		FROM answer
		where question_id = #{id} 
	</select>
	
	<select id="selectWhoLikeAnswer" parameterType="int" resultType="com.zhihu.pojo.User">
		SELECT id,NAME, photo_url AS photoUrl, summary,home_url AS homeUrl FROM USER 
		WHERE id IN (SELECT user_id FROM user_answer_relation WHERE answer_id  = #{id} AND action = 1 order by time)
	</select>
	
	<insert id="insertUserAnswerRelation" parameterType="com.zhihu.pojo.UserAnswerRelation">
		insert into user_answer_relation (user_id,action,answer_id,time)
		values (#{userId},#{action},#{answerId},#{time})
	</insert>
	
	<insert id="deleteUserAnswerRelation" parameterType="com.zhihu.pojo.UserAnswerRelation">
		delete from user_answer_relation where user_id = #{userId} and answer_id = #{answerId} and action = #{action}
	</insert>
	
	<select id="selectAnswerUserRelation" parameterType="com.zhihu.pojo.UserAnswerRelation" resultType="java.lang.Integer">
		select action from user_answer_relation where user_id = #{userId} and answer_id = #{answerId}
	</select>
	
	<insert id="insertAnswer" parameterType="com.zhihu.pojo.Answer">
		insert into answer (author_id,content,answer_time,question_id,unnamed) values
		(#{authorId},#{content},#{answerTime},#{questionId},#{unnamed})
	</insert>
	
	<select id="selectAnswerCountByAuthorAndQuestion" parameterType="com.zhihu.pojo.Answer" resultType="int">
		select count(*) from answer where author_id = #{authorId} and question_id = #{questionId}
	</select>
	
	<update id="updateAnswer" parameterType="com.zhihu.pojo.Answer">
		update answer set content = #{content} where author_id = #{authorId} and question_id = #{questionId}
	</update>
</mapper>