<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhihu.dao.QuestionMapper" >
	<select id="selectQuestionsLikeName" parameterType="com.zhihu.pojo.Question" resultType="com.zhihu.pojo.Question">
		select id,name,authod_id as authorId,followed,description,topic_ids as topicIds, unnamed
		from question WHERE NAME LIKE '%${name}%' limit 10
	</select>
	
	<select id="selectQuestionNamesAndAnswerCounts" parameterType="com.zhihu.pojo.Question" resultType="com.zhihu.pojo.Question">
		SELECT NAME,ifnull(answer_count,0) AS answerCount FROM question   
		WHERE name LIKE '%${name}%' limit 10
	</select>
	
	<insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhihu.pojo.Question">
		INSERT INTO question (NAME,AUTHOR_ID,TOPIC_NAMES,DESCRIPTION,UNNAMED) 
		VALUES (#{name},#{authorId},#{topicNames},#{description},#{unnamed})
	</insert>
	
	<select id="selectQuestionById" parameterType="java.util.HashMap" resultType="com.zhihu.pojo.Question">
		select id,name,author_id as authorId,followed,description,topic_names as topicNames,answer_count as answerCount
		from question
		where id = #{id}
	</select>
	
	<select id="selectHotterQuestion" parameterType="java.util.HashMap" resultType="com.zhihu.pojo.Question">
		select id,name,description,topic_names as topicNames,answer_count as answerCount
		from question
		ORDER BY RAND(),hotter DESC LIMIT 20
	</select>
</mapper>