<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhihu.dao.TopicMapper" >
	<select id="selectTopicsLikeName" parameterType="java.util.HashMap" resultType="com.zhihu.pojo.Topic">
		SELECT NAME,photo_url as photoUrl FROM topic WHERE NAME LIKE '%${name}%' and name not in (${filter})
	</select>
	
	<select id="selectTopicByName" parameterType="java.lang.String" resultType="com.zhihu.pojo.Topic">
		SELECT id,NAME,photo_url as photoUrl FROM topic WHERE NAME = #{name}
	</select>
</mapper>