<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhihu.dao.UserDao" >
	
	<insert id="insertUser" parameterType="com.zhihu.pojo.User">
		INSERT INTO USER (NAME,LOGIN_NAME,PASSWORD) VALUES (#{name},#{loginName},#{password})
	</insert>
	
	<select id="getByLoginName" parameterType="com.zhihu.pojo.User" resultType="com.zhihu.pojo.User">
		SELECT NAME,LOGIN_NAME AS loginName, PASSWORD FROM USER 
		WHERE LOGIN_NAME = #{loginName}
	</select>
	
	<select id="findUserByLoginName" parameterType="com.zhihu.pojo.User" resultType="int">
		SELECT COUNT(*) FROM USER 
		WHERE LOGIN_NAME = #{loginName}
	</select>
</mapper>