<div ng-repeat="feed in mainCtrl.feeds" class="feed-item folding feed-item-hook" data-type="a">
	<div class="feed-item-inner">
		<div class="avatar">
			<a title="小爝" class="zm-item-link-avatar" href="/people/xiao-jue-83"> <img ng-src="{{feed.avatarPicture}}" class="zm-item-img-avatar"> </a>
		</div>
		<div class="feed-main">
			<div ng-if="feed.source.type == 'people'" class="source">
				<a data-tip="p$t$xiao-jue-83" href="http://www.zhihu.com/people/xiao-jue-83" target="_blank"
					class="zg-link" title="{{feed.source.name}}">{{feed.source.name}}</a> {{feed.source.action}} <span class="zg-bull">•</span>
				<span class="time" data-timestamp="1442232402000">{{feed.source.time}}</span>
			</div>
			<div ng-if="feed.source.type == 'topic'" class="source">
				<span ng-if="feed.source.hot == true">热门回答，</span>来自 <a href="/topic/19550429" data-tip="t$b$19550429" data-token="19550429" data-topicid="68">{{feed.source.topic}}</a> <a data-follow="t:link" href="javascript:;" class="zg-follow zu-autohide follow-topic zu-edit-button" data-id="68">关注话题</a>
			</div>
			<div class="content">
				<h2>
					<a class="question_link" target="_blank" href="{{feed.questionUrl}}">{{feed.question}}</a>
				</h2>
				<div ng-show="!feed.withoutAnswer" class="feed-question-detail-item">
					<a ng-show="feed.answerExpanded && feed.hideQuestionDesc" href="#" ng-click="mainCtrl.expandQuestionDesc(feed,$event)" class="toggle-expand btn-toggle-question-detail ellipsis">
						{{feed.questionDesc | formatContent:'questionDesc'}}<span ng-if="feed.hideQuestionDesc">显示问题详情</span> </a>
					<div formated-content ng-hide="feed.hideQuestionDesc" class="question-description zm-editable-content">
						{{feed.questionDesc}}
					</div>
				</div>
				<div ng-if="!feed.withoutAnswer" class="entry-body " data-aid="20868648" data-atoken="63635224"
					data-collapsed="False" data-created="1442232402" data-deleted="0"
					data-isowner="0" data-helpful="1" data-score="0" data-copyable="1">

					<div ng-click="mainCtrl.expandAnswer(feed)" class="zm-item-vote" ng-hide="feed.answerExpanded">
						<a name="expand" class="zm-item-vote-count" href="javascript:;"
							data-votecount="0">{{feed.voteCount}}</a>
					</div>
					<div class="zm-votebar" ng-show="feed.answerExpanded">
						<button class="up ">
							<i class="icon vote-arrow"></i> <span class="label">赞同</span> <span
								class="count">{{feed.voteCount}}</span>
						</button>
						<button class="down ">
							<i class="icon vote-arrow"></i> <span class="label">反对</span>
						</button>
					</div>
					<div class="zm-item-answer-detail">
						<div class="zm-item-answer-author-info">
							<h3  ng-if="!feed.unnamed" class="zm-item-answer-author-wrap">
								<a data-tip="p$t$xiao-jue-83" href="/people/xiao-jue-83">{{feed.people}}</a>，<strong title="www.tuer.me" class="zu-question-my-bio">{{feed.peopleDesc | hideDescription}}</strong>
							</h3>
							<h3 ng-if="feed.unnamed" class="zm-item-answer-author-wrap">
								<span >匿名用户</span>
							</h3>
							<a href="#" ng-show="feed.answerExpanded && feed.answer.length>=800" ng-click="mainCtrl.hideAnswer(feed)" class="collapse meta-item zg-right">
								<i class="z-icon-fold"></i>收起 
							</a>
						</div>
						<div ng-if="feed.voters.length === 0" class="zm-item-vote-info empty" data-votecount="0"></div>
						<div ng-if="feed.voters.length > 0 && feed.answerExpanded" class="zm-item-vote-info " data-votecount="4">
							<span class="voters">
								<span ng-repeat="voter in feed.voters" class="user-block"><a data-tip="p$t$song-ying-3-25" href="{{voter.link}}" class="zg-link" title="松颖">{{voter.name}}</a><span ng-hide="$last">、</span></span>
							</span>
							<a href="javascript:;" class="more"> 等人赞同</a>
						</div>
						<div ng-click="mainCtrl.expandAnswer(feed)" class="zm-item-rich-text" data-resourceid="6336040" data-action="/answer/content">
							<div formated-content ng-show="feed.answerExpanded" class="zm-editable-content">{{feed.answer}}</div>
							<textarea class="content hidden">{{feed.answer}}
								<span class="answer-date-link-wrap">
									<a class="answer-date-link meta-item" target="_blank" href="/question/35323603/answer/63635224">发布于 20:06</a>
								</span>
							</textarea>
							<div ng-hide="feed.answerExpanded" class="zh-summary summary clearfix">
								{{feed.answer | formatContent:'answer'}}
								<a ng-if="feed.answer.length >= 145" href="/question/35471660/answer/63460518" class="toggle-expand">显示全部</a>
							</div>
						</div>
					</div>
				</div>
				<div class="feed-meta">
					<div class="zm-item-meta clearfix">
						<div ng-if="feed.withoutAnswer != true" class="zm-meta-panel">
							<a data-follow="q:link" class="follow-link zg-follow meta-item"	href="javascript:;" id="sfb-6336040"> 
								<i class="z-icon-follow"></i>关注问题 
							</a>
							<a href="#" ng-click="mainCtrl.toggleComments(feed)" class=" meta-item toggle-comment"> 
								<i class="z-icon-comment"></i>{{feed.isShowComments?'收起评论':feed.comments.length===0?'添加评论':feed.comments.length+' 条评论'}}
							</a> 
							<a href="#" ng-class="feed.answerExpanded || feed.isShowComments?'meta-item':'meta-item zu-autohide'" name="thanks" data-thanked="false"> 
								<i class="z-icon-thank"></i>感谢 
							</a> 
							<a href="#" ng-class="feed.answerExpanded || feed.isShowComments?'meta-item':'meta-item zu-autohide'" name="share"> 
								<i class="z-icon-share"></i>分享 
							</a> 
							<a href="#" ng-class="feed.answerExpanded || feed.isShowComments?'meta-item':'meta-item zu-autohide'" name="favo"> 
								<i class="z-icon-collect"></i>收藏 
							</a> 
							<span ng-class="feed.answerExpanded || feed.isShowComments?'zg-bull':'zg-bull zu-autohide'">&bull;</span>
							<a href="#" ng-class="feed.answerExpanded || feed.isShowComments?'meta-item':'meta-item zu-autohide'"> 没有帮助</a> 
							<span ng-class="feed.answerExpanded || feed.isShowComments?'zg-bull':'zg-bull zu-autohide'">&bull;</span> 
							<a href="#" ng-class="feed.answerExpanded || feed.isShowComments?'meta-item':'meta-item zu-autohide'"> 举报 </a> 
							<span class="zg-bull">&bull;</span> 
							<a href="/terms#sec-licence-1" target="_blank" class="meta-item copyright"> 作者保留权利 </a> 
							<a href="#" ng-show="feed.answerExpanded" ng-click="mainCtrl.hideAnswer(feed)" class="collapse meta-item zg-right">
								<i class="z-icon-fold"></i>收起 
							</a>
						</div>
						<div ng-if="feed.withoutAnswer == true" class="zm-meta-panel">
							<a data-follow="q:link" class="follow-link zg-follow meta-item"
								href="javascript:;" id="sfb-6358254"><i
								class="z-icon-follow"></i>关注问题</a> 
							<a href="#" ng-click="mainCtrl.toggleComments(feed)" class="meta-item toggle-comment"> 
								<i class="z-icon-comment"></i>{{feed.isShowComments?'收起评论':feed.comments.length===0?'添加评论':feed.comments.length+' 条评论'}}
							</a>
							<span class="zg-bull">&bull;</span> 
							<a href="/question/35379163" class="meta-item" target="_blank">{{feed.answerCount}} 个回答</a> 
							<a href="#" ng-show="feed.answerExpanded" ng-click="mainCtrl.hideAnswer(feed)" class="collapse meta-item zg-right">
								<i class="z-icon-fold"></i>收起 
							</a>
						</div>
						<div class="zm-comment-box" data-count="31" ng-show="feed.isShowComments">
							<i class="icon icon-spike zm-comment-bubble"
								style="display:inline;left:102px;"></i> <a href=""
								name="comment-0" class="zg-anchor-hidden"></a>
							<div class="zm-comment-list">
								<div class="zm-item-comment" data-id="94886451">
									<a class="zg-anchor-hidden" name="comment-94886451"></a> 
									<a title="七个柚子多少钱" data-tip="p$t$penny-lu-82" class="zm-item-link-avatar" href="/people/penny-lu-82"> 
										<img src="images/20a52613d2af2feb4eeaf58629383725_s.jpg" class="zm-item-img-avatar"> 
									</a>
									<div class="zm-comment-content-wrap">
										<div class="zm-comment-hd">
											<a data-tip="p$t$penny-lu-82" href="http://www.zhihu.com/people/penny-lu-82" class="zg-link" title="七个柚子多少钱">七个柚子多少钱</a>
										</div>
										<div class="zm-comment-content">印象深刻</div>
										<div class="zm-comment-ft">
											<span class="date">2015-09-17</span> 
											<a href="#" class="reply zm-comment-op-link" name="reply_comment"> 
												<i class="zg-icon zg-icon-comment-reply"></i>回复 
											</a> 
											<a href="#" class="like zm-comment-op-link " name="like_comment"> 
												<i class="zg-icon zg-icon-comment-like"></i>赞 
											</a> <span class="like-num  " data-tip="s$r$1 人觉得这个很赞"> <em>1</em>	<span>赞</span> </span> 
											<a href="#" name="report" class="report zm-comment-op-link needsfocus goog-inline-block goog-menu-button" style="-webkit-user-select: none;">
												<i class="zg-icon z-icon-no-help"></i>举报 
											</a>
										</div>
									</div>
								</div>
								<div class="zm-item-comment" data-id="94886451">
									<a class="zg-anchor-hidden" name="comment-94886451"></a> <a	title="骑驴看花" data-tip="p$t$penny-lu-82"	class="zm-item-link-avatar" href="/people/penny-lu-82"> <img src="images/20a52613d2af2feb4eeaf58629383725_s.jpg" class="zm-item-img-avatar"> </a>
									<div class="zm-comment-content-wrap">
										<div class="zm-comment-hd">
											<a data-tip="p$t$penny-lu-82" href="http://www.zhihu.com/people/penny-lu-82" class="zg-link" title="骑驴看花">骑驴看花</a>
										</div>
										<div class="zm-comment-content">印象深刻</div>
										<div class="zm-comment-ft">
											<span class="date">2015-09-17</span> 
											<a href="#" class="reply zm-comment-op-link" name="reply_comment"> 
												<i class="zg-icon zg-icon-comment-reply"></i>回复 
											</a> 
											<a href="#" class="like zm-comment-op-link " name="like_comment"> 
												<i class="zg-icon zg-icon-comment-like"></i>赞 
											</a> <span class="like-num  " data-tip="s$r$1 人觉得这个很赞"> <em>1</em>	<span>赞</span> </span> 
											<a href="#" name="report" class="report zm-comment-op-link needsfocus goog-inline-block goog-menu-button" style="-webkit-user-select: none;">
												<i class="zg-icon z-icon-no-help"></i>举报 
											</a>
										</div>
									</div>
								</div>
								<a href="javascript:;" class="load-more" name="load-more"> <span class="text">显示全部评论<img src="http://static.zhihu.com/static/img/spinner2.gif" class="spinner">
								</span> </a>
							</div>
							<div ng-click="feed.isAddingComment = true" ng-class="feed.isAddingComment?'zm-comment-form zm-comment-box-ft expanded':'zm-comment-form zm-comment-box-ft'">
								<div class="zm-comment-editable editable" contenteditable="true"><p ng-if="!feed.isAddingComment" style="color:#999">写下你的评论…</p></div>
								<div class="zm-command zg-clear" ng-show="feed.isAddingComment">
									<a href="#" name="addnew" class="zg-right zg-btn-blue">评论</a> <a href="#" ng-click="mainCtrl.closeForm(feed,$event)" class="zm-command-cancel">取消</a>
								</div>
								<div class="zm-comment-info"></div>
							</div>
						</div>
					</div>
					<a href="#" class="ignore zu-autohide" name="dislike" data-tip="s$b$不感兴趣"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="undo-dislike-options" data-item_id="1">
		此内容将不会在动态中再次显示 <span class="zg-bull">&bull;</span> <a href="#"
			class="meta-item revert">撤销</a> <a href="#"
			class="ignore zu-autohide close"></a>
	</div>
</div>
