<div class="view view-signin">
	<form ng-submit="vm.login()">
		<div class="title">
			<a class="singin-switch" signin-switch href="#/register">注册<i class="icon-sign-arrow"></i></a>
			<a><i></i><span>登录知乎</span></a>
		</div>
		<div class="input-wrapper">
			<input type="text" name="loginName" data-auto-focus="focus.type" ng-focus="removePromptByType(prompts,'loginName')" placeholder="手机号或邮箱" ng-model="vm.user.loginName">
		</div>
		<div class="input-wrapper">
			<input type="password" name="password" data-auto-focus="focus.type" ng-focus="removePromptByType(prompts,'password')" placeholder="密码" ng-model="vm.user.password">
		</div>
		<div class="captcha-wrapper">
			<div>
				<div>
					<input id="captcha" name="captcha" data-auto-focus="focus.type" ng-focus="removePromptByType(prompts,'captcha')" placeholder="验证码" ng-model="vm.user.captcha">
				</div>
				<p class="input-wrapper-captcha">
					<a href="#" ng-click="refresh(vm,$event)">看不清？换一张</a>
					<img src="/Zhihu/captcha?r={{vm.timeStamp}}" width="120" height="30" />
				</p>
			</div>
		</div>
		<div class="failure" ng-show='prompts.length>0'>
			<ul>
				<prompt></prompt>
			</ul>
		</div>
		<div class="button-wrapper">
			<button type="submit">登录</button>
		</div>
		<div class="signin-misc-wrapper clearfix">
			<label class="remember-me">
				<input type="checkbox" name="remember_me" checked value="true"> 记住我
			</label>
			<a class="unable-login" href="#">无法登录?</a>
		</div>
		<div class="community-signup">
			社交帐号登录 &nbsp;
			<a href="#"><i class="icon-sign-wechat"></i></a>
			<a href="#"><i class="icon-sign-sina"></i></a>
			<a href="#"><i class="icon-sign-qq"></i></a>
		</div>
	</form>
</div>