<div ng-class="msg.unread ? 'zm-noti7-content-item unread':'zm-noti7-content-item'" ng-repeat="msg in ctrl.msgContents" data-notigroupname="ANSWER">
	<span class="author-list">
		<span class="user-block" ng-repeat="answer in msg.answers">
			<span ng-show="answer.unnamed">匿名用户</span>
			<a ng-hide="answer.unnamed" href="{{answer.link}}" class="zg-link" title="子柳">{{answer.name}}</a>
			<span ng-hide="$last">、</span>
		</span>
		回答了问题 <a href="{{msg.questionUrl}}" class="question_link">{{msg.questionName}}</a>
	</span>
</div>