<div class="zm-noti7-content-item" data-notigroupname="FOLLOW" ng-repeat="user in ctrl.userContents">
	<div class="zm-profile-section-item zg-clear no-hovercard">
		<div class="zg-right">
			<a ng-hide="{{user.followed}}" href="/follow" id="pf-65489132165498" class="zg-follow" data-follow="m:links">关注</a>
			<a ng-show="{{user.followed}}" href="/unfollow" id="pf-65489132165498" class="zg-follow" data-follow="m:links">取消关注</a>
		</div>
		<a href="/people" class="zm-item-link-avatar" title="人名">
			<img ng-src="{{user.photoUrl}}" alt="" class="zm-item-img-avatar">
		</a>
		<div class="zm-list-content-medium">
			<a href="{{user.link}}" class="zg-link">{{user.name}}</a>
			<div class="zg-gray-normal">
				<span></span>
			</div>
		</div>
	</div>
</div>