body,button {
	line-height: 1.7;
	padding: 0;
	margin: 0;
	font-size: 13px;
	color: #222;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body, input, textarea, select, button{
	word-wrap:break-word;
}
body.zhi{
	padding-top: 46px;
}
a{
	text-decoration: none;
	color: #259;
}
a:hover{
	text-decoration: underline;
}
a:link{
	-webkit-tap-highlight-color:rgba(225,225,225,.5);
}
.clearfix:before,.clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}
.zg-clear:after{
	clear: both;
}
.zg-right{
	float: right;
}
.zg-left{
	float:left;
}
.zg-link{
	cursor: pointer;
	text-decoration: none;
}
.zg-follow{
	color: #698ebf;
}
.zu-top{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	background:-webkit-linear-gradient(top,#086ed5,#055db5); 
	background-color: #0767c8;
	height: 45px;
	border-bottom: 1px solid #044e97;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.zu-top a:hover{
	text-decoration: none;
}
.zu-top .zg-wrap{
	position: relative;
	height: inherit;
}
#zh-top-inner{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
#zh-top-link-logo{
	background:url(../images/new_logo.png) 0 8px no-repeat;
	color: #fff;
	display: block;
	width: 61px;
	height: 45px;
	float: left;
	text-indent: -9999px;
}
.top-nav-profile{
	position: absolute;
	right: 0;
	top: 0;
}
.top-nav-profile{
	position: absolute;
	right: 0;
	top: 0;
	min-width: 120px;
	z-index: 10;
}
.top-nav-profile a{
	display:block;
	width:120px;
	background-color:#095fb3;
	font-size:14px;
}
.zu-top-nav-userinfo{
	 position: relative; 
	 color: #fff;
	 line-height: 45px;
	 text-indent: 46px;
	 white-space: nowrap;
	 width: 120px;
	 height: 45px;
	 text-overflow:ellipsis;
	 overflow: hidden;
	 text-decoration: none;
}
.zu-top-nav-userinfo .avatar{
	position: absolute;
	left: 10px;
	top: 9px; 
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	border: 1px solid rgba(0,0,0,.1);
}
.zg-noti-number{
	/*background-color: #BF1031;*/
	color: #BF1031;
	/*border: 1px solid #B11331;*/
	box-shadow: 0 1px 2px rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.15);
	/*color: #fff;*/
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
	border-radius:16px;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
}
.zu-top-nav-pm-count{
	left: 27px;
	top: -12px;
	z-index: 12;
	position: absolute;
}
.zu-top-search{
	margin: 7px 0 0 12px;
	position: relative;
	float: left;
}
.zu-top-search-form{
	float: left;
	width: 367px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.zu-top-search-input{
	font-size: 14px;
	width:100%;
	background: transparent;
	padding: 7px 10px;
	font-size: 14px;
	outline: medium none;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #045BB3;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
	background-color: #E1EAF2;
	color: #49525c;
	transition: all .2s ease-in-out;
}
.zu-top-search-input:focus{
	background: #fff;
	/*box-shadow: */
}
.hide-text{
	font: 0/0 a;
	color: transparent;
	text-shadow:none;
	background-color: transparent;
	border: 0;
}
.form-with-magnify .magnify-button{
	position: absolute;
	right: 0;
	top: 0;
	width:30px;
	height: 32px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	background-color: transparent;
	background-position: 0px 50%;
}
.icon, .tr-icon, .tr-inline-icon, .goog-option-selected .goog-menuitem-checkbox, .zu-edit-button-icon, .zu-top-live-icon, .zh-global-backtotop, .zh-hovercard-arrow, .modal-dialog-title-close, .icon-external, .zg-icon, .zm-profile-icon, .zm-profile-header-icon, .icon-info, .icon-green-check, .icon-big-arrow-left, .icon-big-arrow-right, .icon-weibo, .icon-qzone, .icon-weibo-corner, .icon-big-white-sina, .icon-big-white-qq, .icon-big-white-mail, .icon-sign-arrow{
	background: url(../images/sprites.png) no-repeat;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.icon-magnify-q{
	background-position: -239px -60px;
	height: 15px;
	width: 13px;
	vertical-align: -4px;
}
.zu-top-add-question{
	float: left;
	margin-left: 6px;
	background-image: -webkit-linear-gradient(top,#0e7bef,#0d73da);
	background-color: #0e78e7;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 14px;
	width: 66px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	/* text-shadow:0 1px 1px rgba(0,0,0,.12); */
	cursor: pointer;
	border: 1px solid #045BB2;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
	transition: all .2s ease-in-out;
	outline-width: 0px;
}
.zu-top-nav{
	float: left;
	position: relative;
}
.zu-top-nav-ul{
	margin-left: 18px;
	padding: 0;
}
.zu-top-nav-li{
	position: relative;
	float: left;
	/*margin: 0;*/
	list-style: none;	
}
.zu-top-nav-li.current{
	background-image: -webkit-linear-gradient(top,#055fb8,#095fb3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}
.zu-top-nav-link{
	width: 54px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: block;
	text-shadow:0 1px 1px rgba(0,0,0,.12);
	font-size: 14px;
	color: #f2f4f5;
}
/*--------下拉框-----------*/
.zu-top-nav-live{
	position: absolute;
	z-index: 9;
	background-color: #fff;
	outline: 0;
	width: 290px;
	left: 108px;
	top: 45px;
}
.zu-noti7-popup.zu-top-nav-live{
	width: 315px;
	left: 52px;
	top: 48px;
	border: 1px solid #ddd;
}
.zu-top-nav-live-inner{
	padding: 10px;
	border-radius: 5px;
	border: 3px solid #f4f4f4;
	background-color: #fff;
}
.zu-noti7-popup .zu-top-nav-live-inner{
	padding: 0;
	border: 0;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	margin: 0;
}
.zu-noti7-popup .zu-top-live-icon{
	left: 144px;
	width: 25px;
	background:url(../images/sprites.png) no-repeat -228px -186px;
}
.zh-hovercard-arrow, .zu-top-live-icon{
	height: 15px;
	width: 23px;
	position: absolute;
	z-index: 101;
}
.zu-top-live-icon{
	top:-12px;
}
.zu-noti7-popup .zm-noti7-popup-tab-container{
	outline: 0;
}
.zm-noti7-popup-tab-item{
	float: left;
	width: 33%;
	text-align: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	background-position: 0px 50%;
	background-color: #fff;
	border: 0;
	outline: 0;
}
.zm-noti7-popup-tab-item .icon{
	position: relative;
	display: inline-block;
	width: 22px;
	line-height: 16px;
	margin: 9px;
	text-indent: -9999px;
	opacity: .6;
}
.zm-noti7-popup-tab-item.message .icon{
	background-position: -94px -66px;
}
.zm-noti7-popup-tab-item.message.current .icon{
	opacity: 1;
	background-position: -94px -87px;
}
.zm-noti7-popup-tab-item.thanks.current .icon{
	background-position: -151px -87px;
	opacity: 1;
}
.zm-noti7-popup-tab-item.user.current .icon{
	background-position: -123px -87px;
	opacity: 1;
}
.zm-noti7-popup-tab-item+.zm-noti7-popup-tab-item{
	border-left: 1px solid #EEE;
}
.zm-noti7-popup-tab-item+.zm-noti7-popup-tab-item{
	border-left: 1px solid #EEE;
}
.zm-noti7-popup-tab-item.user .icon{
	background-position: -123px -65px;
}
.zm-noti7-popup-tab-item.thanks .icon{
	background-position: -151px -65px;
	margin: 10px 0 6px;
}
.zm-noti7-frame-border{
	height: 1px;
	width: 100%;
	position: relative;
	background-color: #ddd;
}
.zm-noti7-popup-footer{
	vertical-align: middle;
}
.zm-noti7-popup-footer a{
	color: #999;
	display: inline-block;
	padding: 6px 12px;
}
.zg-icon-settings{
	width: 16px;
	height: 16px;
	background-position: -88px -148px;
	margin-right: 1px;
	vertical-align: -5px;
}
/*消息提示框样式*/
.zm-noti7-frame{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
.zm-noti7-content{
	position: relative;
	overflow: hidden;
	width: 315px;
	height: 100%;
}
.zh-scroller-inner{
	height: 100%;
	width: 150%;
	overflow: auto;
}
.zh-scroller-content{
	position: static;
	visibility: visible;
	overflow: hidden;
	width: 315px;
	min-height: 100%;
}
.zm-noti7-popup-refresh{
	display: none;
	padding:10px 0 5px;
	text-align: center;
}
.zm-noti7-content-item{
	padding: 7px 11px;
	position: relative;
}
.zu-noti7-popup .zm-noti7-content-item{
	border-bottom: 1px solid #eee;
}
.zm-noti7-content-body .zm-noti7-content-item.unread{
	background: #eff6fa;
	border-bottom: 1px solid #d1e0e8;
}
.zm-noti7-content-item .author-list .user-block{
	word-break:break-all;
}
.zm-noti7-content-item a{
	color: #259;
}
.zm-noti7-content-item a:hover{
	text-decoration: underline;
}
.zg-gray-normal, .zg-link-gray-normal, .zg-link-gray{
	color: #999;
	font-weight: 400;
}
.zm-noti7-content-head-item{
	border-bottom: 1px solid #eee;
	padding: 7px 11px 7px 23px;
}
.zu-noti7-popup .zm-profile-section-item{
	padding: 0;
}
.zg-clear{
	height: 1%;
}
.zg-clear:before,.zg-clear:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.zu-noti7-popup .zm-item-link-avatar{
	float: left;
	height: 40px;
	width: 40px;
	margin-top: 2px;
}
.zm-profile-section-item .zm-item-img-avatar{
	float: left;
	/*height: 50px;*/
	/*margin: 2px 10px 0 0;*/
	width: 50px;
	border: 0 none;
	border-radius: 2px;
}
.zu-noti7-popup .zm-profile-section-item .zm-item-link-avatar img{
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin-right: 10px;
}
.zu-noti7-popup .zm-list-content-medium{
	margin-left: 50px;
}
.zm-list-content-medium{
	margin-left: 64px;
}
.zm-noti7-content-item .zg-follow, .zm-noti7-content-item .zg-unfollow{
	display: none;
}
.zm-profile-section-item:hover .zg-follow,.zm-profile-section-item:hover .zg-unfollow{
	display: block;
}
.zu-noti7-popup .zm-noti7-content-item::after{
	content: "";
	position: absolute;
	bottom: -1px;
	height: 1px;
	left: 0;
	width: 100%;
	display: block;
}
.zh-scroller-bar-container{
	position: absolute;
	right: 1px;
	top: 0px;
	height: 298px;
	width: 6px;
	border: 1px solid rgb(68,68,68);
	opacity: 0;
	cursor: default;
	border-radius: 2px;
	background-color: rgb(102,102,102);
}
.zh-scroller-bar{
	position: absolute;
	right: 2px;
	top: 2px;
	opacity: .5;
	width: 6px;
	border-radius: 3px;
	cursor: default;
	display: none;
	height: 70px;
	background-color: #000;
}
/*主内容区*/
.zg-wrap{
	width: 960px;
	margin: 0 auto;
	clear: both;
}
.zu-main{
	min-height: 340px;
	padding: 25px 0 50px;
	position: relative;
	z-index: 2;
}
.zu-main-content{
	float: left;
	width: 100%;
}
.zu-main-content-inner{
	position: relative;
	margin-right: 328px;
}
#zh-home-list-title{
	font-size: 14px;
	color: #666;
	font-weight: 700;
}
.zg-section{
	display: block;
	margin-bottom: 10px;
}
.zg-icon-feedlist{
	width: 16px;
	height: 16px;
	vertical-align: -4px;
	margin-right: 5px;
	background-position: -71px -88px;
}
.zm-noti-cleaner-setting{
	font-weight: 400;
	font-size: 13px;
}
.zg-link-gray-normal{
	color: #999;
	font-weight: 400;
}
.zu-main-feed-con{
	position: relative;
	border-top: 1px solid #ccc;
}
.feed-item{
	padding: 10px 0;
	position: relative;
	margin-left: 0;
	outline: 0;
}
.feed-item .avatar{
	float: left;
	margin: 3px 0 0;
}
.feed-item .avatar a{
	display: block;
	width: 38px;
	height: 38px;
}
.feed-item .avatar img{
	display: block;
	width: 38px;
	height: 38px;
}
.feed-main{
	margin-left: 48px;
}
.feed-item .source{
	color: #999;
}
.feed-item .source a{
	color: #999;
}
.source .zg-bull{
	font-size: 12px;
}
.zg-bull{
	padding: 0 3px;
	color: #BBB;
	font-family: Arial;
}
.feed-item .time{
	display: inline-block;
	font-size: 12px;
	color: #999;
	margin-left: 2px;
	float: right;
}
.feed-item .content h2{
	margin-right: 20px;
}
.ellipsis{
	word-wrap:normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.toggle-expand.btn-toggle-question-detail{
	padding: 0;
}
a.toggle-expand.btn-toggle-question-detail{
	margin-bottom: 5px;
	text-decoration: none;
	color: #999;
	font-size: 13px;
}
a.toggle-expand.btn-toggle-question-detail span{
	font-size: 12px;
	color: #259;
	padding: 3px;
	border-radius: 2px;
}
.feed-item .question-description{
	padding-bottom: 6px;
}
.feed-item .entry-body{
	position: relative;
}
.feed-item .entry-body, .feed-item .zm-item-answer{
	margin-top: 3px;
}
.feed-item .zm-item-vote{
	margin-top: -1px;
}
.zm-item-vote{
	display: none;
	position: absolute;
	left: -48px;
}
.entry-body .zm-item-vote, .zm-item-answer .zm-item-vote, .zm-item-feed .zm-item-vote, .zm-item-answer .zm-item-answer-summary{
	display: block;
}
.zm-item-vote-count{
	display: block;
	color: #698ebf;
	height: 24px;
	line-height: 24px;
	width: 38px;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	background: #eff6fa;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}
.feed-item .zm-votebar{
	margin-top: -1px;
}
.zm-votebar{
	float: left;
	margin-left: -48px;
}
html.no-touch .zm-item-vote-count:hover{
	background: #698ebf;
	color: #fff;
	text-decoration: none;
}
.zm-votebar .up:hover,.zm-votebar .down:hover{
	background: #698ebf;
	color: #fff;
	text-decoration: none;
}
.zm-votebar .up,.zm-votebar .down{
	position: relative;
	display: block;
	color: #698ebf;
	height: 24px;
	line-height: 24px;
	width: 38px;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	background: #eff6fa;
	font-weight: 500;
}
.zm-votebar .up .vote-arrow{
	background-position:0 -229px;
	border-top-width:0;
	border-bottom-color:#698ebf;
	border-top-stype:solid;
}
.zm-votebar .up:hover .vote-arrow{
	border-bottom-color:#fff;
}
.zm-votebar .down:hover .vote-arrow{
	border-top-color:#fff;
}
.zm-votebar .up{
	height: 44px;
}
.zm-votebar .vote-arrow{
	width: 0;
	height: 0;
	border: 6px solid transparent;
	font-size: 0;
	background-image: none;
}
.zm-votebar .label{
	display: block;
	text-indent: -9999px;
}
.zm-votebar .count{
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;
}
.zm-votebar .down .vote-arrow{
	background-position: -21px -229px;
	border-bottom-width: 0;
	border-top-color: #698ebf;
}
.hidden{
	display: none;
}
.feed-item .zm-item-vote-info, .feed-item .zm-item-answer-author-info{
	margin-bottom: 2px;
}
.entry-body .zm-item-answer-author-wrap{
	margin: 0;
}
.zm-item-answer-author-wrap{
	margin: 0 0 1px;
	font-size: 13px;
}
a.external{
	margin-right: 4px;
	word-break:break-all;
}
a>.invisible{
	font-size: 0;
	line-height: 0;
	color: transparent;
	background-color: transparent;
	border: 0;
}
.zm-item-answer-author-wrap a{
	color: inherit;
}
.zm-item-vote-info{
	margin: 3px 0;
	font-size: .9em;
	color: #999;
}
.zm-item-vote-info a{
	color: inherit;
}
html.no-touch .zm-item-vote-info a:hover{
	color: #698ebf;
}
.entry-body .full-content, .zm-item-answer .zm-item-vote-info, .zm-item-feed .zm-item-vote-info{
	display: none;
}
.zm-editable-content .answer-date-link-wrap{
	display: block;
}
.zh-summary{
	-webkit-tap-highlight-color:rgba(225,225,225,.5);
	position: relative;
	cursor: pointer;
}
.feed-item .zm-item-meta{
	margin-bottom: 0;
}
.zm-item-meta{
	margin-bottom: 5px;
	position: relative;
	color: #999;
}
.feed-item .ignore{
	position: absolute;
	right: 0;
	top: 35px;
	display: inline-block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background: url(../images/sprites.png) -261px -62px no-repeat;
}
.feed-item .ignore:hover{
	background-position: -261px -42px;
}
.zh-general-list.topstory2 .source .time{
	float: none;
}
.zh-general-list.topstory2 .feed-meta .ignore{
	top: 11px;
}
.zm-item-meta{
	position: relative;
	margin-bottom: 5px;
	color: #999;
}
.feed-item .zm-item-meta{
	margin-bottom: 0;
}
.zm-meta-panel{
	padding: 5px 0;
	margin-bottom: -5px;
	background-color: #fff;
}
.zm-item-meta .zm-meta-panel{
	background-color: transparent;
}
.zm-meta-panel>a, .zm-meta-panel>span{
	color: #999;
	vertical-align: middle;
}
.zm-meta-panel .zg-follow{
	color: #999;
}
i[class^=z-icon-], i[class*=" z-icon-"]{
	display: inline-block;
	line-height: 10px;
	vertical-align: 0;
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}
.z-icon-follow{
	width: 8px;
	height: 9px;
	background-position: -97px -23px;
}
.meta-item{
	color: #999;
}
.meta-item+.meta-item{
	margin-left: 7px;
}
.z-icon-comment{
	width: 9px;
	height: 10px;
	background-position: -28px -22px;
}
.zu-autohide{
	display: none;
}
.z-icon-thank{
	width: 10px;
	height: 10px;
	background-position: -41px -22px;
}
.goog-inline-block{
	display: inline-block;
	position: relative;
}
.goog-inline-block.zu-autohide{
	display: none;
}
.goog-menu-button .goog-menu-button-dropdown{
	display: none;
}
.z-icon-share{
	width: 11px;
	height: 10px;
	background-position: -67px -22px;
}
.z-icon-collect{
	width: 7px;
	height: 10px;
	background-position: -56px -22px;
}
.zu-autohide{
	display: none;
}
.z-icon-fold{
	width: 8px;
	height: 9px;
	background-position: -135px -22px;
}
.feed-item .undo-dislike-options{
	margin-left: 48px;
	position: relative;
	display: none;
	color: #999;
}
.feed-item .undo-dislike-options .close{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-position: -261px -62px;
	opacity: 1;
}
.feed-item+.feed-item, .feed-separator+.feed-item{
	border-top: 1px solid #eee;
}
.feed-item .collapse{
	float: right;
}
.zm-item-answer-author-info a.collapse{
	margin-left: 10px;
}
.icon-external{
	width: 7px;
	height: 7px;
	vertical-align: 0;
	background-position: 0 -204px;
}
a.external>.icon-external{
	margin-left: 4px;
}
.zg-btn-white.zu-button-more{
	display: block;
	font-size: 13px;
	margin:20px 0;
	padding: 5px 1px;
}
.zg-btn-blue, .zg-btn-green, .zg-btn-red, .zg-btn-white, .zg-btn-disabled{
	font-size: 14px;
	line-height: 1.7;
	text-decoration: none!important;	
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	padding: 4px 10px;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing:border-box;
}
.zg-btn-white{
	background: #f8f8f9;
	background-color: #f1f1f2;
	text-shadow:0 1px 0 #fff;
	border: 1px solid #bbb;
	color: #666!important;
	box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
	background-image:-webkit-linear-gradient(top,#f8f8f9,#e6e6e8);
}
.zu-main-sidebar{
	position: relative;
	float: left;
	margin-left: -270px;
	width: 270px;
}
.zm-side-section{
	margin-bottom: 15px;
	position: relative;
}
.zm-side-section.shameimaru-section{
	margin-bottom: 20px;
}
/*广告样式*/
.zh-shameimaru {
    display: block;
    position: relative;
}
.zh-shameimaru .shameimaru-link {
    display: block;
    background: url("../images/9be7f4ceac94b46e78ff8bf6a6f724d5.png") no-repeat;
    width: 270px;
    height: 150px;
}
.zh-shameimaru .shameimaru-close {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    text-indent: -9999px;
    opacity: .7;
}
.zh-shameimaru .shameimaru-close:hover {
    opacity: .9;
}
.zh-shameimaru:hover .shameimaru-close {
    display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .zh-shameimaru .shameimaru-link {
        background: url("../images/76462669961d4165ce7e34e0b5e72d13.png");
        background-size: 270px 150px;
    }
}
.z-ico-play-video, .z-ico-wechat-right-panel, .z-ico-show-password, .z-ico-hide-password, .z-ico-weibo, .z-ico-wechat-unlogin-page, .z-ico-weibo-share, .z-ico-wechat-share, .z-ico-green-check, .z-ico-gray-check, .z-ico-daily-share, .z-ico-qq, .z-ico-wechat, .z-ico-textedit, .z-ico-shameimaru-close, .z-ico-left, .z-ico-close, .z-ico-community:hover, .z-ico-community, .z-ico-video, .z-ico-extern-gray, .z-ico-extern-blue{
	background-image: url(../images/icons_e9908158f6.png);
}
.z-ico-shameimaru-close{
	background-position: -1px -76px;
	width: 16px;
	height: 16px;
}

.zh-shameimaru-5aeee4c1b {
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.zh-shameimaru-5aeee4c1b .shameimaru-link {
    display: block;
    background: url("../images/90fd9902252bd25943938f6296fa78b4.png") no-repeat;
    width: 270px;
    height: 150px;
}
.zh-shameimaru-5aeee4c1b .shameimaru-close {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    text-indent: -9999px;
    opacity: .7;
}
.zh-shameimaru-5aeee4c1b .shameimaru-close:hover {
    opacity: .9;
}
.zh-shameimaru-5aeee4c1b:hover .shameimaru-close {
    display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .zh-shameimaru-5aeee4c1b .shameimaru-link {
        background: url("../images/30fa37ce7efcf2c48f54290202a2c01c.png");
        background-size: 270px 150px;
    }
}
.zm-side-nav-group{
	margin-bottom: 10px;
}
.zm-side-nav-group:first-child{
	margin-top: -4px;
}
.zm-side-nav{
	margin-left: -10px;
}
.zm-side-nav-li{
	display: block;
	margin-bottom: 3px;
	list-style: none;
	position: relative;
}
.zm-side-nav li{
	position: relative;
}
.zm-side-nav-link{
	position: relative;
	padding-left: 10px;
	display: block;
	height: 28px;
	line-height: 28px;
	color: #666;
}
.zm-side-nav-link .zg-icon{
	margin-right: 2px;
	width: 14px;
	height: 14px;
	vertical-align: -2px;
}
.zg-icon-sidenav-draft{
	background-position: -152px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-draft{
		background-position: -152px -24px;
}
.zg-icon-sidenav-fav{
	background-position: -167px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-fav{
	background-position: -167px -24px;
}
.zm-side-nav-link:hover{
	color: #259;
	background-color: #EFF6FA;
}
.zg-icon-sidenav-follow{
	background-position: -183px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-follow{
	background-position: -183px -24px;
}
.zg-icon-sidenav-invite{
	background-position: -200px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-invite{
		background-position: -200px -24px;
}
.zm-side-nav-group+.zm-side-nav-group{
	padding-top: 10px;
	border-top: 1px solid #eee;
}
.zg-icon-sidenav-all{
	background-position: -217px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-all{
	background-position: -217px -24px;
}
.zg-icon-sidenav-plaza{
	background-position: -234px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-plaza{
	background-position: -234px -24px;
}
.zg-icon-sidenav-publicedit{
	background-position: -269px -4px;
}
.zm-side-nav-link:hover .zg-icon-sidenav-publicedit{
	background-position: -269px -24px;
}
.zm-side-nav-link .z-ico-community{
	display: inline-block;
	position: relative;
	top: 1px;
	left: -1px;
	margin-right: 2px;
}
.z-ico-community{
	background-position: -24px -41px;
	width: 14px;
	height: 13px;
}
.zm-side-nav-link:hover .z-ico-community{
	background: url(../images/icons.png) no-repeat;
	background-position: -67px -39px;
}
.zm-side-list-content{
	padding-top: 15px;
	border-top: 1px solid #eee;
}
.zu-main-sidebar h3, .zm-side-section h3, .zu-main-sidebar h2, .zm-side-section h2{
	margin-bottom: 10px;
}
.zg-link-litblue, .zg-link-litblue-normal{
	color: #698ebf;
	font-weight: 400;
}
.zg-link-litblue{
	font-size: 12px;
}
.zm-side-nav{
	margin-left: -10px;
}
.zm-side-pinned-topics li{
	list-style: none;
	overflow: hidden;
}
.zm-side-pinned-topics .zm-side-nav-link{
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 25px;
}
.zm-side-pinned-topics .zm-side-nav-link img{
	vertical-align: top;
	margin-right: 5px;
}
img.avatar.avatar-s{
	width: 25px;
	height: 25px;
	border-radius: 3px;
}
.side-roundtable-hint{
	padding-right: 12px;
	color: #999;
}
.z-icon-follow{
	width: 8px;
	height: 9px;
	background-position: -97px -23px;
}
.zm-side-nav-roundtable .follow-link{
	position: absolute;
	right: 12px;
	line-height: 25px;
	top: 5px;
	display: none;
	color: #698ebf!important;
}
.zm-side-nav-roundtable:hover .side-roundtable-hint{
	display: none;
}
.zm-side-nav-roundtable:hover .follow-link{
	display: block;
}
.zu-main-sidebar .zh-footer{
	margin-top: 10px;
	text-align: left;
}
.zh-footer, .zh-footer a{
	color: #999;
}
.zu-main-sidebar .zh-footer .zg-wrap{
	padding: 10px 0;
	width: auto;
	border-top-color: #eee;
}
.zh-footer ul, .zh-footer li{
	display: inline;
}
.zh-footer li{
	list-style: none;
}
.zh-footer li+li:before{
	margin-right:3px;
	content:'•';
	padding:0 3px;
	color:#BBB;
	font-family:Arial;
}
/*由于换行，不需要加'•' */
.zu-main-sidebar .zh-footer li:nth-child(5):before{
	content:'';
	margin:0;
	padding:0;
	display:block;
}
.zu-main-sidebar .zh-footer .copy{
	margin-left: 1px;
	float: none;
}
.modal-wrapper{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	overflow: auto;
}
html.modal-open .modal-wrapper{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	align-items:flex-start;
}
html.modal-open .modal-wrapper .modal-dialog{
	position: static;
	margin-top: 14%;
	margin-top: 14vh;
}
.modal-dialog{
	position: absolute;
	z-index: 99;
	width: 420px;
	max-width: 100%;
	border-radius: 8px;
	border: 1px solid #888;
	box-shadow: 0 0 80px 0 rgba(0,0,0,.4);
	background: #fff;
	text-align: left;
}
.modal-dialog-title{
	position: relative;
	background-color: #1575d5;
	background-image: -webkit-linear-gradient(top,#1d7fe2,#0865c2);
	background-repeat: no-repeat;
	padding: 10px 15px;
	border-radius: 6px 6px 0 0;
	border: 1px solid #0d6eb8;
	box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,0 1px 1px rgba(0,0,0,.2);
	margin:-1px -1px 0;
	line-height: 14px;
}
.modal-dialog-title-text{
	color: #fff;
	text-shadow:0 1px 1px rgba(0,0,0,.4);
	font-size: 15px;
	font-weight: 700;
}
.modal-dialog-title-close{
	position: absolute;
	top: 50%;
	right: 3px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	text-indent: -9999px;
	cursor: pointer;
	background-position: -60px -53px;
}
.modal-dialog-content{
	padding: 0 15px;
	margin: 17px 0;
}
.zh-add-question-form{
	padding: 2px 2px 0;
}
.zh-add-question-form .add-question-splash-page p{
	margin-bottom: 18px;
}
.zh-add-question-form .add-question-splash-page .before-ask-form{
	margin-top: 30px;
}
.zh-add-question-form .add-question-splash-page b{
	font-size: 14px;
}
.zg-form-text-input{
	padding: 8px 10px;
	font-size: 13px;
	line-height: 15px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
	background: #fff;
	border: 1px solid #ccc;
	color: #222;	
}
.zh-add-question-form .add-question-splash-page .before-ask-form input{
	box-sizing:border-box;
	width: 100%;
	border-radius: 2px;
}
.modal-dialog-bg{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 95;
	min-height: 100%!important;
	width: 100%!important;
	height: 100%!important;
	overflow: visible;
	background: #666;
	opacity: 0.5;
	display:none;
}
html.modal-doc-overflow{
	margin-right: 17px;
}
html.modal-open{
	overflow: hidden;
}
/*解决弹出提问框，导航栏右移的问题*/
html.modal-doc-overflow .modal-shifting{
	position: relative;
	right: 8.5px;
}
html.no-touch .zh-summary:hover a.toggle-expand{
	text-decoration: none;
	background-color: #eff6fa;
}
/*显示感谢、分享、收藏、没有帮助、举报*/
html.no-touch .zm-profile-answer-page .zm-item:hover .zu-autohide, html.no-touch .feed-item:hover .zu-autohide{
	display: inline-block;
}
html.no-touch .meta-item:hover{
	color: #698ebf;
}
.zh-summary .inline-img{
	float: left;
	max-width: 180px;
	max-height: 100px;
	margin: 4px 10px 5px 0;
}
.zh-backtotop{
	position: fixed;
	bottom: 113px;
	left: 50%;
	z-index: 19;
	margin-left: 230px;
	display: none;
}
.zh-backtotop .btn-action{
	display: block;
	width: 38px;
	height: 38px;
	background-color: #ddd;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	position: relative;
}
.zh-backtotop div{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}
.zh-backtotop .arrow{
	width: 0;
	height: 0;
	top:-1px;
	border: 9px solid transparent;
	border-bottom-color: #aaa;
}
.zh-backtotop .stick{
	width: 8px;
	height: 14px;
	top: 15px;
	border-radius: 1px;
	background-color: #aaa;
}
html.no-touch .zh-backtotop .btn-action:hover{
	background-color: #e2e2e2;
}
html.no-touch .zh-backtotop .btn-action:hover .arrow{
	border-bottom-color:#bbb;
}
html.no-touch .zh-backtotop .btn-action:hover .stab, html.no-touch .zh-backtotop .btn-action:hover .stick{
	background-color: #bbb;
}
/* tooltip top*/
.popover.top{
	margin-top: -6px;
}

#zh-tooltip{
	position: absolute;
	animation-duration:.05s;
	animation-fill-mode:both;
	z-index: 100;
	animation-timing-function:ease-in;
}
#zh-tooltip.goog-hovercard.popover{
	z-index: 90;
}
.popover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1050;
	/*display: none;*/
	padding: 12px;
}
.popover .popover-content{
	overflow: hidden;
	background: #fff;
	border: solid 1px #ccc;
	border-radius: 5px;
	background-clip: padding-box;
}
.zh-profile-card{
	width: 380px;
}
.zh-profile-card .upper{
	background: #fff;
	padding-left: 66px;
	min-height: 50px;
}
.zh-profile-card .upper a.avatar-link{
	position: relative;
}
.zh-profile-card .upper span.name{
	font-size: 14px;
	font-weight: 700;
}
.zh-profile-card .upper img.avatar{
	position: absolute;
	left: -66px;
}
img.avatar.avatar-xs{
	width: 50px;
	height: 50px;
	border-radius: 3px;
}
.zh-profile-card .upper div.tagline{
	font-size: 13px;
	color: #222;
	padding-top: 4px;
}
.zh-profile-card .upper, .zh-profile-card .lower{
	border: 14px solid transparent;
}
.zh-profile-card .lower .meta .item{
	float: left;
	padding: 0 16px;
	border-right: 1px solid #eee;
	color: inherit;
	text-decoration: none;
}
.zh-profile-card .lower .meta .item .value, .zh-profile-card .lower .meta .item .key{
	display: block;
	text-align: center;
}
.zh-profile-card .lower .meta .item .value{
	font-size: 15px;
	font-weight: 700;
}
.zh-profile-card .lower .meta .item .key{
	font-size: 14px;
	color: #999;
}
.zh-profile-card .lower .meta .item:hover{
	color: #698ebf;
}
.zh-profile-card .lower .meta .item:hover .key{
	color: inherit;
}
.zh-profile-card .lower .operation .zg-btn, .zh-profile-card .lower .operation .zg-btn-white, .zh-profile-card .lower .operation button{
	float: right;
	height: 32px;
	margin-top: 8px;
	vertical-align: middle;
}

.popover.top .arrow{
	bottom: 0;
	left: 50%;
	margin-left: -13px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #ccc;
}
.popover.top .arrow2{
	bottom: 1px;
	left: 50%;
	margin-left: -13px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #fafafa;
}
.popover.bottom .arrow{
	top: 0;
	left: 50%;
	margin-left: -13px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #ccc;
}
.popover.bottom .arrow2{
	top: 1px;
	left: 50%;
	margin-left: -13px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #fff;
}
.popover .arrow, .popover .arrow2{
	position: absolute;
	width: 0;
	height: 0;
}
.zg-btn{
	display: block;
	text-align: center;
	min-width: 78px;
	font-size: 12px;
	text-decoration: none!important;
	padding:1px;
	font-weight: 400;
	line-height: 18px;
	border-radius: 3px;
	cursor: pointer;
	box-sizing:border-box;
}
.zm-rich-follow-btn{
	padding: 0 5px;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
	white-space: nowrap;
}
.zh-profile-card .lower .operation .zg-btn{
	margin-left: 15px;
	font-size: 13px;
}
.zg-btn-unfollow, .zg-btn-disabled{
	background:#eee;
	color: #888;
	border: 1px solid #ddd;
}
.btn-toggle-question-detail:hover span{
	background: #eff6fa;
}

/*评论列表*/
.zm-comment-box{
	margin: 10px 0 35px;
	background: #fff;
	max-width: 540px;
	position: relative;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.zm-comment-box .zm-comment-bubble{
	position: absolute;
	top: -8px;
	left: 81px;
	display: none;
}
.icon-spike{
	position: absolute;
	top: -8px;
	left: 23px;
	width: 13px;
	height: 8px;
	background-position: -200px -165px;
}
.zg-anchor-hidden{
	top: -48px;
	position: relative;
	display: block;
	width: 0;
	font: 0/0 a;
}
.zm-item-comment{
	position: relative;
	margin: 0 12px;
	padding: 8px 0;
}
.zm-item-comment .zm-item-img-avatar{
	width: 25px;
	height: 25px;
	border-radius: 2px;
}
.zm-item-comment .zm-comment-content-wrap{
	margin-left: 35px;
}
.zm-item-comment .zm-comment-content{
	color: #222;
	min-height: 22px;
}
.zm-item-comment .zm-comment-foot{
	font-size: 12px;
}
.zm-item-comment .zm-comment-head, .zm-item-comment .zm-comment-foot{
	color: #999;
}
.zm-comment-op-link{
	margin-left: .5em;
	color: #999;
	font-size: 12px;
	visibility: hidden;
}
.zm-item-comment.focusin .zm-comment-op-link, .zm-item-comment:hover .zm-comment-op-link{
	visibility: visible;
}
.goog-inline-block{
	display: inline-block;
	position: relative;
}
.zg-icon-comment-reply{
	background-position:-250px -92px;
}
html.no-touch a:hover>.zg-icon-comment-reply{
	background-position:-250px -79px;
}
.zg-icon-comment-like{
	background-position: -220px -92px;
}
.zm-item-comment .like-num.liked>.zg-icon-comment-like, html.no-touch a:hover>.zg-icon-comment-like{
	background-position: -220px -79px;
}
.zm-comment-op-link .z-icon-no-help{
	background-position: -71px -183px;
}
.z-icon-no-help{
	width:10px;
	height: 10px;
	background-position:-82px -22px;
}
html.no-touch .zm-comment-op-link:hover{
	color: #698ebf;
}
.zm-item-comment .like-num{
	float: right;
	margin-top: -1px;
}
.zm-comment-box .load-more{
	padding: 8px 0;
	display: block;
	font-size: 13px;
	height: 22px;
	text-align: center;
	border: 1px solid #eee;
	border-width: 1px 0 0;
	color: #698ebf;
	box-shadow: 0 0 5px rgba(180,180,180,.1) inset;
	text-shadow:0 1px 0 #fff;
}
.zm-comment-box .load-more .text{
	position: relative;
}
.zm-comment-box .load-more .spinner{
	position: absolute;
	top: 0;
	right: -20px;
	display: none;
}
.zm-comment-box.empty.cannot-comment .zm-comment-form, .zm-comment-box .zm-comment-form{
	padding: 15px;
}
.zm-comment-box.empty.cannot-comment .zm-comment-box-ft, .zm-comment-box .zm-comment-box-ft{
	background-color: #fbfbfb;
	border-radius: 0 0 4px 4px;
	border-top: 1px solid #eee;
	position: relative;
}
.zm-comment-form .zm-comment-textarea, .zm-comment-form .zm-comment-editable{
	padding: 7px 8px;
	font-size: 13px;
	line-height: 22px;
	min-height: 22px;
	white-space: pre-wrap;
	color: #222;
	cursor: text;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	background-color: #fff;
	width:492px;
}
.zm-command{
	padding: 10px 0;
	text-align: right;
}
.zm-command>.zg-btn-blue, .zm-command>.zg-btn-green, .zm-command>.zg-btn-white, .zm-command>.zg-btn-disabled{
	vertical-align: baseline;
}
.zg-btn-blue{
	background: #1472CF;
	background-repeat: repeat-x;
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	border: 1px solid #0d6eb8;
	color: #fff!important;
	box-shadow: 0 1px 0 rgba(255,255,255,.2) inset,0 1px 0 rgba(0,0,0,.2);
}
.zm-command-cancel{
	margin-right: 15px;
	cursor: pointer;
}
/*显示取消、评论按钮*/
.zm-comment-form.expanded .zm-command{
	display: block;
	line-height: 33px;
}
.zm-comment-form .zm-command{
	display: none;
	padding-bottom: 0;
}
.top-nav-profile .zu-top-nav-userinfo{
	
}
.open .top-nav-dropdown, html.no-touch .top-nav-profile:hover .top-nav-dropdown{
	display:block;
}
.top-nav-dropdown{
	display:none;
	margin:0;
	position:absolute;
	left:0;
}
.zu-top-nav-userinfo.selected, html.no-touch .top-nav-profile:hover .zu-top-nav-userinfo{
	height: 46px;
	background-color:#075fb6;
	background-image:-webkit-linear-gradient(top,#055fb8,#095fb3);
	background-repeat:repeat-x;
	box-shadow:inset 0 0 2px rgba(0,0,0,.12);
}
.top-nav-profile .top-nav-dropdown{
	top: 46px;
}
.top-nav-dropdown li{
	margin:0;
	list-style:none;
}
.top-nav-dropdown li:first-child>a{
	border-top:0;
}
.top-nav-profile .top-nav-dropdown a{
	width:120px;
}

.top-nav-dropdown li a{
	display:block;
	width:145px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-decoration:none;
	border-top:1px solid #0d5aa5;
	box-shadow:0 1px 1px rgba(0,0,0,.4);
	white-space:nowrap;
	text-overflow:ellipsis;
	over-flow:hidden;
	cursor:pointer;
}
.top-nav-profile .zu-top-nav-userinfo{
	background:transparent;
}
html.no-touch .top-nav-dropdown a:hover{
	background-color:#0267cc;
}
.top-nav-dropdown .zg-icon{
	width:20px;
	height:20px;
	margin:0 11px 0 15px;
	vertical-align: -7px;
}
.zg-icon-dd-home{
	background-position:-6px -7px;
}
.zg-icon-dd-pm{
	background-position:-6px -34px;
}
.zg-icon-dd-settings{
	background-position:-6px -60px;
}
.zg-icon-dd-logout{
	background-position:-6px -87px;
}
/*--消息提示--*/
.zu-top-nav-count{
	left:31px;
}
.zu-top-nav-count, .zu-top-nav-userinfo .zu-top-nav-pm-count{
	z-index:12px;
	top:5px;
	position:absolute;
}
.zg-noti-number{
	background:#bf1031;
	border:1px solid #b11331;
	color:#fff;
	display:inline-block;
	font-size:11px;
	font-weight:700;
	padding:0 5px;
	height:16px;
	line-height:16px;
	border-radius:16px;
	text-indent:0;
	text-align:center;
	text-decoration:none;
}
.zg-section-big{
	margin:0 0 15px;
}
.zg-form-text-input{
	padding:8px 10px;
	font-size:13px;
	line-height:15px;
	box-shadow:0 1px 1px rgba(0,0,0,.1) inset;
	border-radius:3px;
	background:#fff;
	border:1px solid #ccc;
	color:#222;
}
textarea{
	border:0;
	outline:0;
	resize:none;
	-webkit-appearance:none;
}
.zh-add-question-form .add-question-title-form textarea{
	vertical-align: bottom;
	height:22px;
}
.zg-form-text-input>textarea{
	color:#222;
	voerflow:hidden;
	line-height:22px;
	font-size:13px;
	padding:0!important;
	margin:0!important;
	border:0 none;
}
.zg-editor-input{
	width:100%;
	font-weight:400;
	min-height:66px;
	padding:0;
	margin:0;
	border:0;
}
.zh-add-question-form .question-suggest-ac-wrap{
	margin-top:5px;
}
.zh-add-question-form .question-suggest-ac-wrap .ac-renderer{
	margin-top:-1px;
	box-sizing:border-box;
	position:static;
	width:100%;
	box-shadow:none;
	border-radius:0;
}
.ac-renderer{
	position:absolute;
	top:35px;
	left:1px;
	z-index:10;
	width:600px;
	background:#fff;
	border:0 none rgba(0,0,0,0);
	border-radius:5px;
	box-shadow:0 1px 4px rgba(0,0,0,.5);	
}
.zh-add-question-form .question-suggest-ac-wrap .ac-renderer>.ac-head{
	padding:6px 8px;
	font-size:13px;
	font-weight:400!important;
}
.zg-gray{
	color:#999;
	font-size:12px;
	font-weight:400;
}
.zh-add-question-form .question-suggest-ac-wrap .ac-renderer>.ac-row{
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-bottom:-1px;
	border-collapse:collapse;
	padding:6px 8px;
}
.zh-add-question-form .question-suggest-ac-wrap .goog-zippy-header{
	cursor:pointer;
	position:relative;
	padding-right:20px!important;
}
.ac-row{
	cursor:pointer;
	padding:8px;
	zoom:1;
	clear:both;
}
.ac-row:hover{
	background-color:#EFF6FA;
}
.zm-ac-gray{
	color:#999;
	margin:0;
	font-size:12px;
	display:inline-block;
}
.zh-add-question-form .add-question-section-title{
	margin-bottom:5px;
}
.zh-add-question-form .extra-editor-toolbar div{
	margin-left:10px;
}
.goog-inline-block{
	display:inline-block;
	position:relative;
}
.goog-link-button{
	position:relative;
	color:#259;
	text-decoration:underline;
	cursor:pointer;
}
.tr-inline-icon{
	width:16px;
	height:16px;
	display:inline-block;
}
.z-ico-textedit{
	background-position:-89px -56px;
}
.tr-image{
	background-position:-80px -127px;
}
.tr-video{
	background-position: -96px -127px;
}
.zh-add-question-form .zm-editable-editor-wrap{
	margin-top:5px;
}
#zh-question-suggest-detail-container .zm-editable-editor-field-wrap{
	overflow-y:auto;
	max-height:192px;
}
.zh-add-question-form .editable{
	min-height: 66px;
}
.zm-editable-editor-wrap.no-toolbar .zm-editable-editor-field-wrap{
	border-radius:4px;
}
.zm-editable-editor-field-wrap{
	position: relative;
	padding:8px 10px;
	border: 1px solid #ccc;
	box-shadow:0 0 4px 0 rgba(0,0,0,.1) inset;
	background: #fff;
	-webkit-transition:min-height .25s ease-out;
}
.modal-dialog, div[contentEditable]{
	outline: 0;
}
.zh-add-question-form .add-question-section-title{
	margin-bottom:5px;
}
.zh-add-question-form #zh-question-form-tag-err{
	margin-left:10px;
}
.zh-add-question-form #zh-question-form-tag-err, .zh-add-question-form #zh-question-form-detail-err{
	font-size:13px;
	color:#c33;
	font-weight:400;
}
.zm-tag-editor{
	margin-bottom:5px;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor{
	border-radius:4px;
	box-shadow:0 1px 3px rgba(0,0,0,.1) inset;
	border:1px solid #ccc!important;
	padding:8px 8px 3px;
	position:relative;
}
.zm-tag-editor-command-buttons-wrap{
	position:relative;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor .icon-magnify{
	vertical-align: -1px;
}
.icon-magnify{
	width:12px;
	height:12px;
	background-position: -45px -52px;
	vertical-align: -3px;
}
.zh-add-question-form .label-input-label{
	line-height: 23px;
	color:#999!important;
}
.zh-add-question-form .zu-question-suggest-topic-input{
	width:120px;
}
.zh-add-question-form .zu-question-suggest-topic-input{
	outline:0;
	border:0 none;
	margin:0 0 5px 5px;
}
.zh-add-question-form .zm-tag-editor-edit-item{
	margin:0 5px 5px 0;
}
.zm-tag-editor-edit-item{
	float:left;
}
.zm-item-tag, .zm-tag-editor-edit-item{
	float:left;
	background:#eff6fa;
	padding:1px 10px 0;
	border-radius:30px;
	text-decoration:none;
	margin:0 5px 5px 0;
	display:inline-block;
	white-space: nowrap;	
}
.zh-add-question-form .zm-tag-editor-edit-item span{
	color:#259;
}
.zm-tag-editor-edit-item>a, .zm-tag-editor-edit-item>span{
	float:left!important;
}
.zm-tag-editor-edit-item .zm-tag-editor-remove-button{
	float:right;
	margin:3px 0 0 5px;
	visibility: visible;
}
.zm-tag-editor-remove-button{
	margin:3px 6px 0 0;
	float:left;
	width:15px;
	height:15px;
	cursor:pointer;
	visibility: hidden;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/sprites.png) no-repeat -264px -141px;
	border-radius:8px;
}
.editable-dropzone{
	display:none;
	position:absolute;
	top:8px;
	background-color: rgba(255,255,255,.5);
}
.zh-add-question-form #zh-question-suggest-detail-container .zm-command{
	display: none;
}
.modal-dialog .zm-command{
	padding:20px 0 0;
}
.zm-command{
	padding:10px 0;
	text-align: right;
}
.zh-add-question-form .zm-question-form-hide-in-about-question-el{
	color: #666;
	margin:5px 0;
}
input[type=checkbox]{
	margin:0 5px 0 0;
	vertical-align: 0;
}
/*question*/
.zh-shameimaru-e68c0213f .shameimaru-link{
	background:url("../images/9be7f4ceac94b46e78ff8bf6a6f724d5.png") no-repeat;
}
.zu-main-content-inner.with-indention-votebar{
	margin-left:48px;
}
.zu-edit-button{
	color:#999;
	display:inline-block;
	font-size:11px;
	font-weight:400;
	padding:0 5px 0 2px;
	margin-left: 2px;
}
.zu-edit-button-icon{
	background-position: -118px -50px;
	height:12px;
	margin-right:4px;
	outline:medium none;
	overflow:hidden;
	width:12px;
	vertical-align: -3px;
}
#zh-question-title{
	margin:0 0 5px;
}
#zh-question-title>.zm-item-title{
	font-size:18px;
	display: inline;
	margin:0;
}
.question-invite-panel{
	position: relative;
	display: none;
	margin:5px 0 35px;
	color:#222;
	border:1px solid #ddd;
	border-radius:4px;
	box-shadow:0 1px 1px rgba(0,0,0,.05);
}
.question-invite-panel .icon-spike{
	left:157px;
}
.question-invite-panel .invite-title{
	padding: 12px;
}
.question-invite-panel .input-wrapper{
	position: relative;
	display: inline-block;
}
.question-invite-panel .search-input{
	padding-right: 20px;
	width:130px;
	line-height: 15px;
	color:#777;
}
.question-invite-panel .input-wrapper .zg-icon{
	position: absolute;
	right:6px;
	top:50%;
	margin-top: -6px;
}
.icon-magnify{
	width:12px;
	height:12px;
	background-position: -45px -52px;
	vertical-align: -3px;
}
.zg-form-text-input{
	padding:8px 10px;
	font-size:13px;
	line-height: 15px;
	box-shadow:0 1px 1px rgba(0,0,0,.1) inset;
	border-radius:3px;
	border:1px solid #ccc;
	color:#222;
}
.question-invite-panel .invite-status{
	margin-left: 5px;
	color:#999;
}
.question-invite-panel .suggest-persons{
	list-style: none;
}
.question-invite-panel .suggest-persons .person:first-child{
	padding-top: 6px;
}
.question-invite-panel .suggest-persons .person{
	margin:0 12px;
	padding-top:18px;
	padding-bottom: 18px;
	height:36px;
	overflow: hidden;
}
.question-invite-panel .suggest-persons .person .zm-item-link-avatar{
	float: left;
	margin-right: 12px;
	width:36px;
	height:36px;
}
.question-invite-panel .suggest-persons .person .zm-item-img-avatar{
	border-radius:3px;
}
.question-invite-panel .suggest-persons .person .content{
	min-height:30px;
	overflow: hidden;
}
.question-invite-panel .suggest-persons .person .invite-button{
	outline:0;
}
.question-invite-panel .suggest-persons .invite-button{
	float: right;
	padding:4px 10px;
}
.zg-btn-green, .zg-btn-follow{
	background: #8ab923;
	background-color: #9dcc4a;
	background-image: -webkit-linear-gradient(top,#adda4d,#86b846);
	background-repeat: repeat-x;
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	border:1px solid #6d8f29;
	color:#3e5e00!important;
	min-width:78px;
	width:auto;
	box-shadow:0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
}
.question-invite-panel .suggest-persons .person .describe{
	padding-right:12px;
	line-height:1.2;
	word-wrap:normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.question-invite-panel .suggest-persons .person .describe .zg-link{
	float:left;
	color:#259;
}
.question-invite-panel .suggest-persons .person .reason{
	margin-top:3px;
	color:#999;
}
.question-invite-panel .suggest-persons .person .reason a{
	color:#666;
}
.question-invite-panel .js-more{
	display: block;
	padding-top:12px;
	padding-bottom:12px;
	color:#698ebf;
	text-align:center;
	text-decoration: none;
	border-top:1px solid #eee;
}
.zu-answer-form-disabled-wrap{
	color:#999;
	text-align:center;
	margin:15px 0 0;
}
.zh-footer .zg-wrap{
	padding:20px 15px;
	border-top:1px solid #ccc;
}
.zh-footer ul, .zh-footer li{
	display: inline;
}
.zh-footer ul{
	float: right;
}
.zh-footer li{
	list-style: none;
}
.zh-footer .copy{
	float:left;
}
/*右边sidebar*/
#zh-question-side-header-wrap{
	position:relative;
	z-index:2;
}
#zh-question-side-header-wrap .follow-button{
	margin-right: 10px;
}
.zg-icon-dropdown-menu{
	margin:2px;
	height:18px;
	width:28px;
	vertical-align: bottom;
	background-position: -53px -146px;
}
.zh-question-followers-sidebar{
	margin:15px 0;
}
.zh-question-followers-sidebar>.list{
	margin:10px 0 20px;
}
.zu-small-avatar-list>.zm-item-link-avatar{
	float:left;
	margin:3px 3px 0 0;
	width:25px;
	height:25px;
}
.zh-question-followers-sidebar>.list .zm-item-img-avatar{
	border-radius:2px;
	width:25px;
	height:25px;
}
.zm-side-section+.zm-side-section>.zm-side-section-inner{
	padding:15px 0 0;
	border-top:1px solid #eee;
}
.zh-shameimaru-e68c0213f .shameimaru-link{
	display: block;
	background: url(images/f889ff4903a00a301f22bc7970a5f26c.png) no-repeat;
	width:270px;
	height: 150px;
}
.zm-side-section-inner h3{
	margin-bottom: 10px;
}
.zh-question-related-questions li{
	list-style: none;
	margin-bottom: 8px;
}
.zh-question-related-questions .num{
	display: inline-block;
	color:#999;
}
.question-invite-panel .suggest-persons .person+.person{
	border-top:1px solid #eee;
}
#zh-question-collapsed-wrap, #zh-question-answer-wrap{
	border-bottom: 1px solid #eee;
}
/*文本编辑器*/
.zh-question-answer-form-wrap{
	margin-top:10px;
}
.zm-editable-editor-wrap{
	margin:8px 0 5px;
	position:relative;
}
.zh-answer-form{
	margin-bottom:10px;
}
.zm-editable-editor-wrap .zm-item-link-avatar{
	margin-top: -1px;
}
.zm-list-avatar{
	float:left;
	height:25px;
	width:25px;
	border:0 none;
	border-radius:2px;
}
.zm-item-answer .zm-item-link-avatar, .zm-item .zm-item-link-avatar, .zm-editable-editor-wrap .zm-item-link-avatar{
	float:right;
	height:25px;
	width: 25px;
}
.zu-answer-form-title{
	font-weight: 700;
}
.zm-editable-editor-outer{
	position:relative;
	background:#fff;
}
.zm-editable-toolbar-container{
	position: relative;
}
.goog-scrollfloater{
	z-index:9;
}
.goog-toolbar{
	cursor: default;
	outline: 0;
	position: relative;
	/* zoom:1; */
	margin:0;
	padding:4px;
	border:1px solid #ccc;
	border-bottom: 0;
	border-radius:3px 3px 0 0;
	background: #f1f1f1;
	box-shadow:inset 0 1px 0 rgba(255,255,255,.4);
	background-color: #f3f3f3;
	background-image:-webkit-linear-gradient(top,#f5f5f5,#efefef);
	background-repeat: repeat-x;
}
.goog-toolbar-button, .goog-toolbar-menu-button{
	border:0;
	font-family: Arial,sans-serif;
	color:#222;
	text-decoration: none;
	list-style: none;
	vertical-align: middle;
	cursor:default;
	outline:0;
	margin:0 1px;
	padding:0;
}
.goog-toolbar-button-outer-box, .goog-toolbar-menu-button-outer-box{
	margin:0;
	padding:0;
	border:0 none;
}
.goog-toolbar-button-outer-box, .goog-toolbar-menu-button-outer-box{
	margin:0;
	padding:1px 0;
}
.goog-toolbar-button-outer-box, .goog-toolbar-button-inner-box, .goog-toolbar-menu-button-outer-box, .goog-toolbar-menu-button-inner-box{
	border:0;
	vertical-align: top;
}
.goog-toolbar-button-inner-box, .goog-toolbar-menu-button-inner-box{
	margin:0;
	padding:5px;
	border:solid 1px transparent;
}
.tr-icon{
	opacity:.85;
	transition:opacity .2s ease-in-out;
	background-color: #f1f1f1;
	width:16px;
	height:16px;
	display: block;
}
#toggleFullScreen{
	float:right;
	margin:0;
}
.tr-max{
	background-position: -192px -127px;
}
.tr-bold{
	background-position:0 -127px;
}
.tr-italic{
	background-position: -16px -127px;
}
.tr-underline{
	background-position: -32px -127px;
}
.tr-blockquote{
	background-position: -112px -127px;
}
.tr-code{
	background-position: -128px -127px;
}
.tr-insertOrderedList{
	background-position: -144px -127px;
}
.tr-insertUnorderedList{
	background-position: -160px -127px;
}
.tr-equation{
	background-position: -240px -111px;
}
.tr-removeFormat{
	background-position: -176px -127px;
}
.goog-toolbar-button-hover .goog-toolbar-button-outer-box, .goog-toolbar-button-hover .goog-toolbar-button-inner-box, .goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box, .goog-toolbar-menu-button-hover .goog-toolbar-menu-button-inner-box{
	border-color: #d1d1d1!important;
}
.goog-toolbar-button-hover .goog-toolbar-button-outer-box, .goog-toolbar-button-active .goog-toolbar-button-outer-box, .goog-toolbar-button-checked .goog-toolbar-button-outer-box, .goog-toolbar-button-selected .goog-toolbar-button-outer-box, .goog-toolbar-menu-button-hover .goog-toolbar-menu-button-outer-box, .goog-toolbar-menu-button-active .goog-toolbar-menu-button-outer-box, .goog-toolbar-menu-button-open .goog-toolbar-menu-button-outer-box, .goog-toolbar-select .goog-toolbar-menu-button-outer-box{
	border-style: solid;
}
.goog-toolbar-separator{
	background-color: #c1c1c1;
	width: 1px;
	margin: 0 8px;
	height:18px;
	line-height: 16px;
}
.editable{
	min-height:88px;
	background: #fff;
	font-size:13px;
	cursor: text;
}
.anno-box{
	cursor: pointer;
	margin-top: 5px;
}
.anno-box span{
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}
.copyright-box{
	cursor: pointer;
	margin-right: 20px;
	margin-top: 5px;
}
.zg-icon-question-mark{
	width:16px;
	height:16px;
	vertical-align: -3px;
	background-position: -284px -68px;
	opacity:.5;
}
.draft-controls{
	margin-top:5px;
}
.draft-saved-info{
	margin:6px 0 0;
}
.draft-saved-time{
	margin-left:.5em;
	color:#999;
}
.draft-saved-time, .draft-save-button{
	vertical-align: -2px;
}
.zg-icon-bin{
	width: 10px;
	height: 11px;
	vertical-align: -3px;
	background-position: -236px -92px;
}
.hide-text{
	font:0/0 a;
	color: transparent;
	text-shadow:none;
	background-color: transparent;
	border:0;
}
.zh-question-answer-form-wrap .submit-button{
	margin-left: 1em;
}
/*答案样式*/
.zm-item-answer, .zm-item{
	position: relative;
	padding:0;
	outline:0;
}
.zm-item-expanded .zm-votebar, .zh-question-answer-wrapper .zm-votebar, .zh-question-answer-wrapper .zm-item-vote-info, .zm-item-expanded .zm-item-vote-info, .zm-item-expanded .zm-item-meta, .zm-item-expanded a.collapse, .zm-item-expanded .full-content{
	display: block;
}
.zm-item-expanded .zu-autohide, .navigable-focusin .zu-autohide, .focusin .zu-autohide, html.no-touch .zm-item-answer:hover .zu-autohide, html.no-touch .zm-item:hover .zu-autohide{
	display: inline-block;
}
.zm-item-comment>.zm-item-link-avatar{
	float: left;
	margin:4px 0 0;
}
/*搜索话题列表框*/
.zm-tag-editor-command-buttons-wrap>.ac-renderer{
	width:235px;
	top:33px;
	left:1px;
}
.zh-add-question-form .zm-item-img-avatar{
	margin:-2px 10px 0 0;
}
.ac-row .zm-item-img-avatar{
	margin:2px 10px 0 0;
	width:25px;
	height:25px;
}
.zm-item-img-avatar{
	border-radius:2px;
}
.zu-autocomplete-row-name{
	margin:0 0 1px 35px;
	display: block;
	line-height:1.2;
	height:1.2em;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.zu-autocomplete-row-description{
	color:#999;
	display:block;
	font-size:12px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:14px;
	height:14px;
	zoom:1;
}
#dropdwon-topic .ac-row:hover{
	background-color:#D6E9F8;
}
.zm-tag-editor-remove-button:hover{
	background-position: -264px -103px;
	background-color: #259;
}
.zg-r5px, .goog-tooltip{
	border-radius:5px;
}
.zm-modal-dialog-guide-title, .zm-modal-dialog-guide-warn-message{
	padding:5px 9px;
	margin:0 0 15px;
	position: relative;
}
.zm-modal-dialog-guide-warn-message{
	background: none repeat scroll 0 0 #f8f6e2;
	border:1px solid #ccc9ac!important;
	margin: 0 0 15px!important;
}
.zm-modal-dialog-warnmsg{
	margin:5px 0 5px 5px;
	border-left: 3px solid #c3412f;
	padding:0 0 0 10px;
}
#zm-modal-dialog-warnmsg-wrapper>.zm-modal-dialog-guide-title-spin, #zm-modal-dialog-warnmsg-wrapper>.zm-modal-dialog-guide-title-msg, .zm-modal-dialog-warnmsg-wrapper>.zm-modal-dialog-guide-title-spin, .zm-modal-dialog-warnmsg-wrapper>.zm-modal-dialog-guide-title-msg{
	bottom:-10px;
	z-index:1;
	left:21px;
}
.zm-modal-dialog-guide-title-msg{
	background: transparent url(../images/sprites.png) scroll no-repeat -227px -174px;
	position: absolute;
	bottom:11px;
	left:20px;
	width:16px;
	height:11px;
}
.zh-add-question-form #zh-question-form-tag-err{
	margin-left: 10px;
	font-size:13px;
	color:#c33;
	font-weight: 400;
}
.spinner-gray{
	display:inline-block;
	margin:0 5px;
	width:14px;
	height:15px;
	vertical-align:-3px;
	background: url(../images/spinner2.gif) no-repeat;
	background-size:14px 15px;
}